{% extends theme.html %}
{% block body %}
<div class='hero-unit'>
	<h2>BitPostage - Bitcoins to Postage</h2>
	<p>
		Buy Postage with Bitcoins in four easy steps:
		<ul>
			<li>Signup</li>
			<li>Make a new Postage order</li>
			<li>Fill in your information and click Get Postage</li>
			<li>Follow the payment instructions and wait for your stamp to arrive in your email</li>
		</ul>
	</p>
	<p>
		We do the heavy work and you receive your postage in as little as thirty minutes. This postage is official 
		USPS postage and can be used for mailing within the 48 United States. If you have any questions please head on
		over to our <a href="/about">About</a> or <a href="/faq">Faq</a> page for a more detailed break down of our service.
	</p>
	<a class="btn btn-primart btn-large btn-inverse" href="/register">Signup Now</a>
</div>
{% end %}
