{% extends theme.html %}
{% block body %}
<div class="container-fluid">
	<div class="span6 offset1 snapshots">
		<div class="control-group">
			<h2 class="logo">Buy Postage with Bitcoins</h2>
			<h5 class="logo">Send physical mail within minutes.</h5>
		</div>
		<div class="container">
			<span class="printer_logo"></span>
			<div class="row offset1">
				<h3 class="logo">Simple and Easy</h3>
				<h5 class="logo">Just print from your home printer.</h5>
			</div>
			<br />
			<div class="row offset1">
				<h3 class="logo">No more excahnges</h3>
				<h5 class="logo">Exchanged directly into postage.</h5>
			</div>
			<br />
			<span class="bitcoin_logo"></span>
			<div class="row offset1">
				<h3 class="logo">Pay as you go</h3>
				<h5 class="logo">Only pay for the postage you need.</h5>
			</div>
		</div>
	</div>
	<div class="offset6">
		<form class="form-horizontal">
			<div class="span4">
				<div class="well">
					<fieldset>
						<h3><span class="logo">Register Account</span></h3>
						<hr>
						<div class="control-group">
							<input name="name" type="text" placeholder="First Name">
						</div>
						<div class="control-group">
							<input name="last" type="text" placeholder="Last Name">
						</div>
						<div class="control-group">
							<input name="email" type="text" placeholder="Email">
						</div>
						<div class="control-group">
							<input name="phone" type="text" placeholder="Phone Number">
						</div>
						<div class="control-group">
							<input name="password" type="password" placeholder="Password">
						</div>
						<div class="control-group">
							<input name="password" type="password" placeholder="Retype Password">
						</div>
						<button type="submit" class="btn btn-inverse center"><span class="logo">Signup for Free Account</span></button>
					</fieldset>
				</div>
			</div>
		</form>
	</div>
</div>
{% end %}
