<!DOCTYPE html>
<html lang="en">
	<head>
		<title> BitPostage: {% block title %}Bitcoins to Postage{% end %}</title>
		<link rel="stylesheet" type="text/css" href="./static/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="./static/css/bitpostage.css" />
		<script type="text/javascript" src="./static/js/jquery.js"></script>
		<script type="text/javascript" src="./static/js/jquery.validate.js"></script>
		<script type="text/javascript" src="./static/js/bitpostage.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container-fluid">
						<ul class="nav">
							<li><a class="brand" href="/">BitPostage</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/faq">Faq</a></li>
							<li><a href="/login">Login</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			{% block body %}

			{% end %}
			<div class='span2'>
				BitPostage.net - 2012
			</div>
		</div>
	</body>
</html>

