<!DOCTYPE html>
<html>
	<body>
		<h3>Thank you for completing your registration {{ userName }}</h3>
		Now that you have completed your registration you may now send pysical mail with postage bought with Bitcoins<br />
		If you have any further questions please feel free to contact us at support@bitpostage.net<br /><br />
		For more information on how to use the site please goto <a href="http://{{ domain }}/tutorial">Tutorial</a><br />
		For more information about us and our service please goto <a href="http://{{ domain }}/about">About</a><br />
		To login please goto <a href="https://{{ domain }}/login">Login</a><br /><br />
		Thanks,<br />
		The Bitpostage Team
	</body>
</html>
