{% extends "main.html" %}

{% block body %}
<div class="hero-unit">
	<h3>What is with the high fees?</h3>
		<p>Trying to keep the fees low is an ongoing venture. We are trying to make enough to make some kind of profit, although marginally, and to pay off our intermediary fees incured by Endicia. These intermediary fees are unavoidable, but over time should lower and save you money, but in the startup phase we will have to sadly live with the higher than normal postage.</p>
	<h3>Why do you need my phone number?</h3>
		<p>Looking over our contracts we need to retain your phone number for the USPS. They require that information to be retained in the event of a investigation and in this event we need to be able to produce it. We really tried to not have to record as much information as we are, but it is not up to us to make that descision.</p>
	<h3>Why does it take so long to get my stamp?</h3>
		<p>If you do not have a MtGox account and do a instant transaction there will be an average delay time of 30 minutes. This is because we wait for three confirmations on each transaction before we email you your stamp. We urge you to use a MtGox account if possible to get your stamps as quickly as possible.</p>
	<h3>Why can't I get a refund?</h3>
		<p>Refunds must be done through our intermediary and as such require a two week wait period before we were to receive funds. And, we do not keep Bitcoins so it would take a bit of time to return you your Bitcoins as well. In certain cases we will refund but they will be handled on a case by case basis.</p>
	<h3>USPS did not send my mail, what gives?</h3>
		<p>When getting your stamp we cannot get the weight and size of you post for you and thus we rely on you to give us as accurate of information as possible with respect to package dimensions and weight. We recommend rounding off to the next highest ounce for weight and rounding to the next highest inch for dimensions. If it can be shown that our system did not process this information correctly we will send you a new stamp at no extra cost with the correct information, this will be handled on a case by case basis.</p>
</div>
{% end %}
