<!DOCTYPE html>
<html>
	<body>
		<h1>Welcome to Bipostage.net {{ userName }},</h1>
		you're almost done setting up your account, please follow the link below to finish registering your account.<br />
		The link below is only valid for 24 hours and after that it will no longer work and you will have to re-register.<br />
		<a href="http://{{ domain }}/activate/{{ userName }}/{{ userToken }}">Complete Registeration</a><br />
		<br />
		Thank you for joing Bitpostage.net,<br />
		The Bitpostage Team
	</body>
</html>
